.reviews-content {
  position: relative;
  width: 80%;
  margin: 100px auto;

  .collection {
    opacity: 0;
    transition-duration: 1s ease-out;
  }
  
  .collection-active {
    opacity: 1;
    transition-duration: 1s;
  }
};

@media screen and(max-width: 1024px) {
  .reviews-content {
    margin-top: 30px;
  }
}

@media screen and(max-width: 768px) {
  .reviews-content {
    margin-top: 30px;
  }
}

@media screen and(max-width: 425px) {
  .reviews-content {
    margin-top: 30px;
  }
}